#recipe_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe {
  flex: 1;
  text-align: center;
  width: 300px;
}

h1 {
  text-align: center;
}

body {
  font-family: Ubuntu, serif;
  margin: auto;
  padding: 18px;
  max-width: 800px;
  font-size: 20px;
  text-align: left;
  position: relative;
}