body{
  font-family: Ubuntu, serif;
  margin: auto;
  padding: 18px;
  max-width: 800px;
  font-size: 20px;
  text-align: left;
  position: relative;
}

.ingredient {
  flex: 1;
  text-align: center;
  justify-content: left;
  padding-left: 10px;
  margin: 10px;
  max-width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2), 0px 3px 10px 0 rgba(0, 0,0,0.2);
}

#name {
  flex: 1;
  text-align: left;
  justify-content:left;
}

#amounts {
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: left;
}

#unit {
  flex: 1;
  text-align: left;
  justify-content: left;
}

#amount {
  flex: 1;
  text-align: center;
  justify-content: left;
}

#usda_num {
  flex: 1;
  text-align: left;
  justify-content: left;
}
