body{
  font-family: Ubuntu, serif;
  margin: auto;
  padding: 18px;
  max-width: 800px;
  font-size: 20px;
  text-align: left;
  position: relative;
}

.instruction {
  flex: 1;
  text-align: left;
  justify-content: center;
  padding-left: 10px;
  margin: 10px;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2), 0px 3px 10px 0 rgba(0, 0,0,0.2);
}

p {
  flex: 1;
  text-align: left;
  justify-content:center;
}
